<mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title class="titulo">
            {{product.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <img [src]="product.imagem" alt="{{product.imagem}}">
        </div>
        <div>
            {{product.descricao}}
        </div>
        <div>
            <p class="bold">Quantidade: </p>  {{product.quantidade}} 
        </div>
        <div>
            <p class="bold">Preço: </p>R${{product.preco}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">Carrinho</button>
        <button mat-flat-button color="primary" (click)="onEdit()">Editar</button>
    </mat-card-actions>
</mat-card>
