* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.espaco {
    justify-content: center;
}

.espacamento {
    display: flex;
    flex-direction: row;
    width: 700px;
}

.pad {
    padding:0 30px 0 0;
}

.title {
    font-size: 1.5em;
}

.dd {
    width: 100px;
}