.form-container {
    display: flex;
    justify-content: center;
}

.form-content-container {
    width: 100%;
    height: 700px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}