<mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title class="titulo">
            {{productName()}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            {{productTipo()}}
        </div>
        <div>
            {{productDesc()}}
        </div>
        <div>
            <p class="bold">Quantidade: </p>  {{productQtd()}}
        </div>
        <div>
            <p class="bold">Preço: </p> {{productPreco()}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">Carrinho</button>
        <button mat-flat-button color="primary" (click)="onEdit()">Editar</button>
    </mat-card-actions>
</mat-card>
